body {
background-image: url(https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-1.2.1&auto=format&fit=crop&w=1409&q=80);
background-size: cover;
background-repeat: no-repeat;
font-family: 'Raleway', sans-serif;
}
td {
    width: 35px;
    height: 35px;
    text-align: center;
    border-left: 0.5px rgb(114, 114, 114);
}
td:hover {
    border-color: rgb(44, 2, 2);
}
.marked {
    background-color: rgba(5, 255, 5, 0.363);
}

.shown {
     background-color: rgba(107, 107, 107, 0.548);
}

.died {
    background-color: red;
}

.logo {
align-content: center;
text-align: center;
}
.level-bar {
    text-align: center;
    margin-bottom: 20px;
}

.game {
    display: flex;
    justify-content: space-around
}

table {
   flex: 1;
   min-width: 300px;
}

.scores {
    flex: 2;
    margin-left: 30px;
    text-align: center;

}

.user-bar {
    flex: 2;
    text-align: center;
}

.one {
    color: rgb(72, 255, 0);
}
.two {
    color: rgb(251, 255, 2);
}
.three {
    color: rgb(6, 122, 255);
}
.four {
    color: red;
}

.hints img {
    height: 30px;
    width: 30px;
}

h5 {
    margin: 0;
}